<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>
      {{ task.title!=="" ? 'Editar Tarea' : 'Adicionar Tarea' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input [(ngModel)]="task.title" type="text" placeholder="Título de la tarea"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Categoria</ion-label>
    <ion-textarea [(ngModel)]="task.category" placeholder="Añadir Categoria"></ion-textarea>
  </ion-item>



  <ion-footer class="ion-padding">
    <ion-button expand="block" (click)="confirm()">
      {{ task.title !== "" ? 'Actualizar' : 'Guardar' }}
    </ion-button>
    @if(task.title !== "") {
    <ion-button color="danger" expand="block" (click)="deleteTask()">
      Eliminar
    </ion-button>
    }
  </ion-footer>
</ion-content>