.completed-task {
  border: 2px solid rgb(71, 72, 71);
  background-color: rgb(90, 92, 90);
  color: white;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;

  &--completed {
    color: #f1eaea !important;
  }
}

.category {
  font-size: 1rem;
  font-weight: 400;
  color: #666;

  &--completed {
    color: #f1eaea !important;
  }
}

.category-value {
  font-weight: bold;
  color: #333;

  &--completed {
    color: #f1eaea !important;
  }
}